.header {
    background: #000;
    width: 100%;
    position: fixed;
}

.nav {
    display: flex;
    max-width: 1400px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 60px;
}

.nav__logo {
    height: 90px;
}

.menu {
    display: flex;
    color: white;
}

.menu__item {
    list-style: none;
}

.menu__item__link {
    color: inherit;
    text-decoration: none;
    font-weight: 500;
    padding: 5px 10px;
    transition: 0.07s;
    font-size: 22px;
}

.menu__item__link:hover {
    color: #000;
    background: white;
}

.user-icons {
    display: flex;
    align-items: center;
}

.cart-icon-container {
    display: flex;
    align-items: center;
}

.icon-user {
    color: white;
    font-size: 24px;
    margin: 0 10px;
}

.cart-number {
    color: #fff;
    font-size: 20px;
    margin-top: 2px;
}